.App {
  text-align: center;
  /* color: blue; */
background-image: url('../src/images/blueblend.jpg');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
margin: 0
/* min-height: 100%;
  min-width: 100%; */
/* font-family: "Open Sans"; */
  
}

.schoolSearch {
  margin-top: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0px;
    color:white;
}


.schoolSearch:hover {
  color:blue;
  transition: all 0.4s ease;

}

/* #unversityName:hover {
  color: white;
} */

.university {
  border: solid;
  /* want to have equal margins */
  margin: 20px 25px;
  padding:0px;
  width: 100px;
  height: 200px;
  display: inline-table;
  /* display: table-cell; */
  
  background-color: white;
  box-shadow: 0px 10px 20px 0px #222222;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  /* grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: auto;
  https://getflywheel.com/layout/card-layout-css-grid-layout-how-to/
  grid-gap: 1rem */

}
.university:hover {
  border-radius: 10%;
  box-shadow: 0px 10px 20px 0px blue;   
  transform: translate(0, -15px);
  /* transform: scale(-.5) translateZ(0); */
  transition: all 0.4s ease;
  background-color: black;
  border: dashed black;
  font: bold;
}
 /* .university h1:hover {
   color: white;
 }

.university li h1:hover {
  color: white;
} */

.university li {
  text-align: center;
  color: blue;
  list-style-type: none;
  padding: 50px
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  /* color: blue; */
  /* background-attachment: url('/frontend/src/public/images/blueblend.jpg'); */
  /* background: no-repeat; */
  margin: 0px;
  /* min-height: 100%;
  min-width: 100%; */

}
.university h1 {
  font-size: 40px;
 margin: 0px 15px 15px 10px;
 /* display: flex; */
 text-align: center;
 /* position: fixed; */
 /* color: #213e3b; */
color: blue;
/* margin: 50px auto 0 auto; */
}

.university h1:hover {
color:white;
transition: all 0.4s ease;

}